 1: test_pnp_antutu
 2: test_pnp_stream
 3: test_pnp_benchmarkPI
 4: test_pnp_andeBench_Java
 5: test_pnp_quadrant
 6: test_pnp_iozone_sequencial
 7: test_pnp_iozone_random
 8: test_pnp_coldboot
 9: test_pnp_timetoturnondisplay
10: test_pnp_camera_launch2preview
11: test_pnp_camera_shot2shot
12: test_pnp_defaultapp_coldlaunch
13: test_pnp_benchmarkPI
14: test_pnp_glbenchmark_27_TRex
15: test_pnp_smartBench
16: test_pnp_octane_online
17: test_pnp_fishtank_online
18: test_pnp_gfxbench_3_Manhattan